@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
   
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- ----------------------------header start------------------------------------------- -->
    <header class="headerpart fixed-top">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand logo" href="index.html">
                    <img class="logo" src="~/images/logo-small.png" alt="logo">
                </a>
                <div class="notification-part ml-auto">
                  
                  <div class="line1"></div>
                  <img src="~/images/icon-notification.png" class="nav-image1" alt="" srcset="">
                  <div class="notification-number-mobile">2</div>
                  <div class="line2"></div>
                </div>
              <!-- Mobile Menu -->
              <button class="menu-toggler"  >
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
              <!-- Mobile Menu -->
      
                <div class=" navbar-collapse main-menu d-xl-flex justify-content-end" id="navbarSupportedContent active" >
                    <ul class="navbar-nav  headernavbar mx-left" >
                            <span class="collapse-menu-item">
                              <p>Welcome,<br><span class="font-weight-bold">Kavan Patel</span></p>
                              <hr>
                              <li class="nav-item"><a href="" class="nav-link">Overview</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Dashboard</a></li>
                              <li class="nav-item"><a href="" class="nav-link">New Service Requests</a></li>
                              <li><a href="" class="nav-link left-menu-service">Upcoming Services</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Service Schedule</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Service History</a></li>
                              <li class="nav-item"><a href="" class="nav-link">My Ratings</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Block Customer</a></li>
                              <li class="nav-item"><a href="" class="nav-link">My Settings</a></li>
                              <li class="nav-item"><a href="" class="nav-link">Logout</a></li>
                            <hr>
                            </span>
                            
                            <li class="nav-item "><a class="nav-link nav-link-1" href="#">Prices & services</a></li>
                            <li class="nav-item "><a class="nav-link nav-link-1" href="#">Warranty</a></li>
                            <li class="nav-item "><a class="nav-link nav-link-1" href="#">Blog</a></li>
                            <li class="nav-item "><a class="nav-link nav-link-2" href="#">Contact</a></li>
                            <div class="line1"></div>
                            <img src="~/images/icon-notification.png" class="nav-image1" alt="" srcset="">
                            <div class="notification-number">2</div>
                            <div class="line2"></div>
                            
                            <li class="nav-item dropdown-list">
                              <a class="nav-link " id="navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/user.png" class="nav-image2" alt="" srcset="">
                                <img src="~/images/forma-1-copy@2x.png" class="nav-image3" alt="" srcset="">
                              </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li class="list-item1"><a href="" disabled>Welcome, <br><span class="font-weight-bold">Sandip Patel</span></a></li>
                                <hr>
                                <li class="dropdown-item" type="button">My Dashboard</li>
                                <li class="dropdown-item" type="button">My Settings</li>
                                <li class="dropdown-item" type="button">Logout</li>
                              </ul>
                            </li>
                            
                            <span class="collapse-menu-item">
                              <hr>
                              <div class="d-flex justify-content-center mobile-icon">
                                <a href=""><img src="~/images/instagram-mobile-menu.png" class="mx-3" alt="" srcset=""></a>
                                <a href=""><img src="~/images/facebook-mobile-menu.png" class="mx-3" alt="" srcset=""></a>
                                
                              </div>
                              
                            </span>
                    </ul>
                </div>
        </nav>
        </div>
      </header>
      <!-- ----------------------------header End------------------------------------------- -->
      @RenderBody()

          <!-------------------------------footernav start------------------------------------------- -->
      <footer class="footernav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#">
                    <img class="footerlogo" src="~/images/logo-large.png"  class="d-inline-block align-top" alt="logo">
                  </a>
                
              
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">ABOUT</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link " href="#">TESTIMONIALS </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">FAQS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">INSURANCE POLICY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#">IMPRESSUM</a>
                    </li>
                  </ul>
                  <div class="footnavimg">
                    <img class="mr-3" src="~/images/ic-facebook.png" width="9px" height="18px" alt="logo">
                    <img class="" src="~/images/ic-instagram.png" width="20px" height="20px" alt="logo">
                  </div>
              </nav>
              <div class="line mt-2"></div>
            </div>
              <div class="container footer">
                      <p class="text-center ">©2018 Helperland. All rights reserved. <span class="pl-3">Terms and Conditions | Privacy Policy</span></p>
              </div>
      
      
    </footer>
    <!-- ----------------------------footernav End------------------------------------------- -->
   
   
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/script.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
     
  
     @RenderSection("scripts", required: false)
</body>
</html>
