


@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/service-request.css">
    <title>Document</title>
</head>
<body>
    
<!-- -------------------------------navbar start----------------------------------------------- -->
<header class="header-navbar">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand nav-title" href="#">helperland</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-user disabled">
              <img src="~/images/user.png" alt="">
              <span class="disabled">@HttpContextAccessor.HttpContext.Session.GetString("userName")</span>
            </li>
            <li class="nav-item ">
              <a class="nav-link " asp-action="logout" asp-controller="Home"><img src="~/images/logout.png" alt="" srcset=""></a>
            </li>            
          </ul>
        </div>
      </nav>
</header>
<!-- -------------------------------navbar end----------------------------------------------- -->


<!-- -------------------------------main-section start--------------------------------------------- -->

<section class="container-fluid home-section">

    <!-- -------------------------------left-section start-------------------------------------- -->

    <div class="left-section">
        
        <li class="nav-item"><a class="nav-link service-requests adminActiveTab" id="adminTab1" asp-action="adminAllService" asp-controller="Admin">Service Requests</a></li>
        <li class="nav-item" ><a class="nav-link " id="adminTab2"  asp-action="UserManagement" asp-controller="Admin">User Management</a></li>
        
         
    </div>

    <!-- -------------------------------left-section end-------------------------------------- -->
    @RenderBody()
<div class="footer">
  <p>©2018 Helperland. All rights reserved.</p>
</div>   
</div>

    <!-- -------------------------------right-section end-------------------------------------- -->

  </section>

<!-- -------------------------------main-section end----------------------------------------------- -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    @RenderSection("scripts", required: false)

</body>
</html>