
@{
    ViewData["Title"] = "_OtherLayout";
}
@model Helperland_integration.ViewModel.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<style>
    /* ---------------------------login page CSS start----------------------------------- */

/* --------------------------------- */

.login-part .modal-content {
    width: 380px;
    padding: 40px 20px;
}

.password-forgot .modal-content {
    /* width: 380px; */
    padding: 40px 20px;
}

.login-part h2,
.password-forgot h2 {
    color: #4f4f4f;
    font-weight: bold;
    font-size: 25px;
}

.login-submit-btn {
    display: block;
    margin:15px auto 0;
    background: #29626D;
    border: 1px solid #FFFFFF80;
    border-radius: 30px;
    color: #FFFFFF;
    width: 100%;
    padding: 12px 30px;

}

.login-center-tag {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.form-check-input {
    width: 20px;
    height: 20px;
}
.form-check-label {
    margin-left: 7px;
    padding-top: 3px;
}
/* ---------------------------login page CSS end----------------------------------- */
</style>
<body>
    
<!-- ---------------------------------navbar start------------------------------------------- -->
<header class="headerpart fixed-top">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand logo" asp-controller="Home" asp-action="index">
                <img class="logo" src="~/images/logo-small.png" alt="logo">
            </a>
  
            <button class="navbar-toggler bg-light navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
            
            
  
            <div class="collapse navbar-collapse main-menu d-xl-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav  headernavbar mx-left">
                        <button class="btn bookingbtn" href="#">Book now</button>
                        <button class="btn pricebtn ml-3" onclick="location.href='@Url.Action("prices","Home")'">Prices & services</button>
                        <li class="nav-item ml-3"><a class="nav-link" href="#">Warranty</a></li>
                        <li class="nav-item mx-4"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item mr-3"><a class="nav-link" asp-controller="Home" asp-action="contact">Contact</a></li>
                        <button class="btn loginbtn" data-toggle="modal" data-target=".bd-login-modal-sm" >Login</button>
                        <button class="btn helpbtn" href="#">Become a Helper</button>
  
  
                </ul>
            </div>
    </nav>
    </div>
</header>
  <!-- -- ---------------------------------navbar end------------------------------------------- -->

  <div>
      @RenderBody()
  </div>



<!-- ---------------------------------form start------------------------------------------- -->

    <section class="formpart">
        <div class="container-fluid ">
            <div class="row">
                
                <div class="col-12 text-center">
                    <h2>GET OUR NEWSLETTER</h2>
                    <form class="form-inline justify-content-center ">
                        <div class="form-group  mx-sm-3 mb-2">
                        
                        <input type="email" class="form-control emailbox" id="email" placeholder="YOUR EMAIL">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </section>
      
<!-- ---------------------------------form end------------------------------------------- -->


<!-- ---------------------------------footernav start------------------------------------------- -->
        <footer class="footernav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="#">
                        <img class="footerlogo" src="~/images/logo-large.png"  class="d-inline-block align-top" alt="logo">
                      </a>
                    
                  
                      <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                          <a class="nav-link" asp-controller="Home" asp-action="index">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" asp-controller="Home" asp-action="about">ABOUT</a>
                        </li>
                       
                        <li class="nav-item">
                          <a class="nav-link " href="#">TESTIMONIALS </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " asp-controller="Home" asp-action="faq">FAQS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="#">INSURANCE POLICY</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="#">IMPRESSUM</a>
                        </li>
                      </ul>
                      <div class="footnavimg">
                        <img class="mr-3" src="~/images/ic-facebook.png" width="9px" height="18px" alt="logo">
                        <img class="" src="~/images/ic-instagram.png" width="20px" height="20px" alt="logo">
                      </div>
                  </nav>
                  <div class="line mt-2"></div>
                  <div class="footer">
                          <p class="text-center ">©2018 Helperland. All rights reserved. <span class="pl-3">Terms and Conditions | Privacy Policy</span></p>
                  </div>
            </div>
          
        </footer>
        <!-- ---------------------------------footernav End------------------------------------------- -->
        
        

 <form class="login-part" asp-action="login" asp-controller="Home"  >
       
          <div class="modal fade bd-login-modal-sm login-hide" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-sm login-modal"  >
              <div class="modal-content" >

            <div class="alert alert-danger alert-dismissible fade show" id="login-alert" style="display:none" role="alert">
                <strong>Invalid username and password.</strong> 
                @*<div asp-validation-summary="ModelOnly" ></div>*@
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>   
                  
                <h2 class="mb-5">log in <span><img src="~/images/close.png" class="float-right close-click" alt="img"></span> </h2>
                <form method="post" data-ajax="true" data-ajax-success="loginError" >
                  <div class="form-group">
                    <input asp-for="Email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span> 
                </div>
                  <div class="form-group">
                    <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save on computer</label>
                  </div>
                  <button type="submit" class="btn btn-primary login-submit-btn">log in</button><br>
                  <a class="login-center-tag forgot-password-click" data-toggle="modal" data-target=".bd-forgot-modal-sm" onclick="hide_policy()" href="">Forgot Password?</a>
                  <p class="login-center-tag">Don't have an account yet? <span><a class=""  asp-controller="Home" asp-action="register">create Account</a></span></p>
          
                </form>
              </div>
            </div>
          </div>
</form>
<section class="password-forgot">
  <div class="modal fade bd-forgot-modal-sm forgot-hide" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h2 class="mb-5">Forgot Password<span><img src="~/images/close.png" class="float-right close-click" alt="img"></span></h2>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary login-submit-btn">Send</button><br>
          <a class="login-center-tag login-click" href="" data-toggle="modal" data-target=".bd-login-modal-sm">log in now </a>
          
          
        </form>
      </div>
    </div>
  </div>
</section>


  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-ajax-unobtrusive~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       @if (ViewBag.isOpen == true)
    {
        <script>
            $(window).on('load', function () {
                $('#login-modal').modal('show');
                $('#login-alert').show();
            });
        </script>

    }
</body>
</html>


