@{
    Layout = "~/Views/Shared/_activeUser.cshtml";
}
@{
    ViewBag.Title = "Book Service";
}
@using Microsoft.AspNetCore.Http  
@inject IHttpContextAccessor HttpContextAccessor
@model Helperland_integration.ViewModel.BookServiceViewModel


 <link rel="stylesheet" href="~/css/bookService.css">
    <!-- ----------------------------welcome part start------------------------------------------- -->
      <section class="container book-service-part">
        <h2 class="service-head-name text-center"> Book your cleaning service  </h2>
        <div class="design text-center">
          <div class="seprator-left "></div>
            <img src="~/images/forma-1-copy-5.png" alt="">
          <div class="seprator-right"></div>
        </div>

        <div class="book-service-main">
         
          <div class="service-step-part" id="service-booking">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item tabs">
                <a class="nav-link active nav-pill-head tab1 py-0" id="pills-Service-tab" data-toggle="pill" href="#pills-Service" role="tab" aria-controls="pills-Service" aria-selected="true"><span><img class="tabimg mr-1" src="~/images/book-now-step1-icon.png" alt="img" /></span><span>Setup Service</span></a>
              </li>
              <li class="nav-item tabs">
                <a class="nav-link nav-pill-head tab2 py-0" id="pills-Schedule-tab" data-toggle="pill" href="#pills-Schedule" role="tab" aria-controls="pills-Schedule" aria-selected="false"><img class="tabimg mr-1" src="~/images/book-now-step2-icon.png" alt="img" /><span>Schedule & Plan</span></a>
              </li>
              <li class="nav-item tabs">
                <a class="nav-link nav-pill-head tab3 py-0" id="pills-Details-tab" data-toggle="pill" href="#pills-Details" role="tab" aria-controls="pills-Details" aria-selected="false"><img class="tabimg mr-1" src="~/images/book-now-step3-icon.png" alt="img" /><span>Your Details</span></a>
              </li>
              <li class="nav-item tabs">
                <a class="nav-link nav-pill-head tab4 py-0" id="pills-Payment-tab" data-toggle="pill" href="#pills-Payment" role="tab" aria-controls="pills-Payment" aria-selected="false"><img class="tabimg mr-1" src="~/images/book-now-step4-icon.png" alt="img" /><span>Make Payment</span></a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-Service" role="tabpanel" aria-labelledby="pills-home-tab">
                <div id="service-pincode">
                    <p class="pincode-check-head">Please enter your zip code:</p>
                    <form asp-controller="BookService" asp-action="CheckPincode" class="form-inline" onsubmit="return jQueryAjaxPost(this);">
                      <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="pincode-text" name="pincode" placeholder="Postal code">
                        
                      </div>
                      <button id="pincode-btn" type="submit" class="btn check-btn mb-2" style="cursor:pointer">Check Availability</button>
                    </form>
                    <span id="pincode-error" class="text-danger"></span>
                </div>
               
              </div>
              
              <div class="tab-pane fade" id="pills-Schedule" role="tabpanel" aria-labelledby="pills-profile-tab">
                 <form class="" asp-action="AddServiceRequest" asp-controller="BookService" id="finalSubmitForm" onsubmit="return jQueryAjaxPost(this);">
                  <div class="service-schedule">
                 
                  <div class="service-details">
                      <p class="service-head font-weight-bold">When do you want your helper to be with you?</p>
                      
                        <div class="date-time">
                            <input type="hidden" id="userId" asp-for="userId" value="@HttpContextAccessor.HttpContext.Session.GetInt32("userId")">
                            <input type="hidden" id="pincode" asp-for="Zipcode" value="">
                            <input class="form-input1" type="date" asp-for="Date" value="2022-01-01" onchange="setSchedule()"> 
                            <select class="form-input2" asp-for="Time" onchange="setSchedule()">
                            <option value="8:00" >8:00</option>
                            <option value="8:30">8:30</option>
                            <option value="9:00">9:00</option>
                            <option value="9:30">9:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            </select>
                      </div>
                    
                    </div>
                    <div class="hour-part">
                      <p class="service-head font-weight-bold">How long do you need your helper?</p>
                        <select class="form-input2" asp-for="ServiceHours" onchange="changeCost()">
                          <option value="3" selected>3.0 Hrs</option>
                          <option value="3.5">3.5 Hrs</option>
                          <option value="4">4.0 Hrs</option>
                          <option value="4.5">4.5 Hrs</option>
                          <option value="5">5.0 Hrs</option>
                          <option value="5.5">5.5 Hrs</option>
                          <option value="6">6.0 Hrs</option>
                          <option value="6.5">6.5 Hrs</option>
                          <option value="7">7.0 Hrs</option>
                          <option value="7.5">7.5 Hrs</option>
                          <option value="8">8.0 Hrs</option>
                          <option value="8.5">8.5 Hrs</option>
                          <option value="9">9.0 Hrs</option>
                          <option value="9.5">9.5 Hrs</option>
                        </select>
                    </div>
                  </div>
                  
                  <hr class="my-5">
                  <div class="add-service">
                    <p class="service-head font-weight-bold">additional services</p>
                    <div class="kindofservice text-center">
                      
                      <div class="types">
                        <label for="ExtraService1">
                          <div class="typeimg" data-val="0" onclick="add_extra_service(this);">
                            <img src="~/images/extra-service-inside-cabinet.png" alt="img">
                          </div>
                          <p class="typepara1" >Inside cabinets</p>
                        </label>
                      </div>

                      <div class="types">
                        <label for="ExtraService2">
                          <div class="typeimg" data-val="1" onclick="add_extra_service(this);">
                            <img src="~/images/extra-service-inside-fridge.png" alt="img">
                          </div>
                          <p class="typepara1" >Inside fridge</p>
                        </label>
                      </div>

                      <div class="types">
                        <label for="ExtraService3">
                          <div class="typeimg" data-val="2" onclick="add_extra_service(this);">
                            <img src="~/images/extra-service-inside-oven.png" alt="img">
                          </div>
                          <p class="typepara1" >Inside oven</p>
                        </label>
                      </div>

                      <div class="types">
                        <label for="ExtraService4">
                          <div class="typeimg" data-val="3" onclick="add_extra_service(this);">
                            <img src="~/images/extra-service-inside-laundry.png" alt="img">
                          </div>
                          <p class="typepara1" >Laundry wash & dry</p>
                        </label>
                      </div>

                      <div class="types">
                        <label for="ExtraService5">
                          <div class="typeimg" data-val="4" onclick="add_extra_service(this);">
                            <img src="~/images/extra-service-interior-windows.png" alt="img">
                          </div>
                          <p class="typepara1" >Interior windows</p>
                        </label>
                      </div>
                     
                    </div>

                    <div class="d-none">
                                <input type="checkbox" asp-for="ExtraService1" />
                                <input type="checkbox" asp-for="ExtraService2" />
                                <input type="checkbox" asp-for="ExtraService3" />
                                <input type="checkbox" asp-for="ExtraService4" />
                                <input type="checkbox" asp-for="ExtraService5" />
                    </div>

                  </div>
                  <hr class="my-5">

                  <div class="advice">
                    <p class="service-head font-weight-bold">Do you want to tell your helper something?</p>
                      <textarea class="advice-area pl-2 mb-2" id="" name="" placeholder="Do you want tell something?"></textarea>
                      <input type="checkbox" asp-for="HasPets" >
                      <label for=""> I have pets at home</label><br>
                     
                      
                  </div>
                  <hr class="my-4">
                  <input type="hidden" asp-for="AddressId" value="" />
                  <div class="button">
                    <button type="button" id="btnServiceDetails" class="next-btn float-right" style="cursor:pointer">Continue</button>
                  </div>
                  </form>
                </div>
              
              

              <div class="tab-pane fade section-details" id="pills-Details" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="address">
                    <div id="showAddress">
      
    
                    </div>
                    <span id="errSelectAddress" class="text-danger d-block"></span>

                <p>Please enter your address so that your helper can find you.</p>
                  <div>
                    <button class="address-btn font-weight-bold" style="cursor:pointer">+ Add New Address</button>
                  </div>
                  <form class="address-form" method="post" >
                        <input type="hidden" id="userIdAddresstTab" asp-for="userId" value="@HttpContextAccessor.HttpContext.Session.GetInt32("userId")">
                    <div>
                      <div class="form-row">
                        <div class="col">
                          <label>Street</label>
                          <input  class="form-control" id="addAddressLine1"  placeholder="Street Name">
                           <span class="text-danger" id="errAddAddressLine1"></span>
                        </div>
                        <div class="col">
                          <label>House number</label>
                          <input class="form-control" id="addAddressLine2" placeholder="House number">
                           <span class="text-danger" id="errAddAddressLine2"></span>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <label>Pincode</label>
                          <input class="form-control" id="pincodeAddress" placeholder="Pincode" disabled>
                          <span class="text-danger" id="errpincode"></span>
                        </div>
                        <div class="col">
                          <label>Location</label>
                          <input class="form-control" id="addCity" placeholder="City name">
                          <span class="text-danger" id="errCity"></span>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <label>Phone number</label>
                          <input class="form-control" id="addAddressPhoneNumber" placeholder="Phone number">
                          <span class="text-danger" id="errAddAddressPhoneNumber"></span>
                        </div>
                      </div>
                      <button class="save-btn" id="save-address" type="button" style="cursor:pointer">Save</button>
                      <button class="discard-btn" type="button" style="cursor:pointer">Discard</button>
                      
                    </div>
                  </form>
                  
                  <div class="form-check">
                    <input type="checkbox" class="bill-checkbox mr-2 " name="" id="" style="cursor:pointer">
                    <label for="">My billing address differs from the given address.</label>
                  </div>

                  <hr>

                  <div class="button">
                    <button type="button" class="next-btn float-right" id="tab3-continue-btn" style="cursor:pointer">Continue</button>
                  </div>

                </div>  
              </div>

           
              


              <div class="tab-pane fade" id="pills-Payment" role="tabpanel" aria-labelledby="pills-Payment-tab">
                <div class="payment-tab">

                  <p class="font-weight-bold">Choose one of the following payment methods.</p>
                  <form >
                    <label for="">Discount code (optional)</label>
                    <br>
                    <input type="text" class="form-control" style="width: 200px;display: inline;"placeholder="Discount code">
                    <button class="promo-btn" type="submit" style="cursor:pointer">Use</button>
                  </form>
                  <hr>
                  <div class="form-check">
                    <input type="checkbox" class="bill-checkbox mr-2  " name="" id="">
                    <label for="" class="payment-tab-label">I accept the terms and conditions , the cancellation policy and the data protection regulations . I confirm that Helperland will start executing the contract before the end of the cancellation period and that I will lose my right of cancellation as a consumer once the contract has been fully performed.</label>
                    <hr>
                    <div class="button">
                      <button type="submit" class="next-btn float-right" id="final-bookbtn" style="cursor:pointer">Book with Cost</button>
                    </div>

                    <div id="booking-message" style="display:none"> 
                        @*<p class="text-success">Your request booked successfuly.</p>*@
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary d-none" id="successPopuBtn" data-toggle="modal" data-target="#exampleModal">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p class="text-success">Your service request booked successfully</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="payment-part">
              <h5 class="payment-title">Payment Summary</h5>
              <div class="payment-body">
                
                <div class="body1">
                  <p id="scheduleDateTime"></p>
                  <p>length of time	</p>
                  <span class="d-flex justify-content-between">
                    <p>Basic</p>
                    <p id="basic-hours">3 hrs.</p>
                  </span>
                  <hr>
                  <span class="d-flex justify-content-between body1-total" >
                    <p>total service time	</p>
                    <p id="total-time">3 hrs.</p>
                  </span>
                </div>

                <hr>
                <div class="body2 small-title fw-normal font-weight-bold" id="extra" style="display:none;">Extra</div>
                <div class="body2" id="extra-service">
                    <div id="es0" class="" style="display:none;"><span>Inside cabinets</span><span style="float:right;">30 Mins</span></div>
                    <div id="es1" style="display:none;" class=""><span>Inside fridge</span><span style="float:right;">30 Mins</span></div>
                    <div id="es2" style="display:none;" class=""><span>Inside oven</span><span style="float:right;">30 Mins</span></div>
                    <div id="es3" style="display:none;" class=""><span>Laundry wash & dry</span><span style="float:right;">30 Mins</span></div>
                    <div id="es4" style="display:none;" class=""><span>Interio window</span><span style="float:right;">30 Mins</span></div>
                </div>
                @*<div class="body2">
                  <span class="d-flex justify-content-between">
                    <p>Per cleaning	</p>
                    <p class="font-weight-bold" >0,00 €</p>
                  </span>
                </div>
                <hr>*@

                <div class="body3">
                  <span class="d-flex justify-content-between price">
                    <p class="price-head">total price</p>
                    <p class="price-rate total-amount" >54 $</p>
                  </span>
                  <p>According to $ 19 UStG no sales tax will be charged.</p>
                  <span class="d-flex justify-content-between effective-price" >
                    <p>Effective price*</p>
                    <p class="total-amount">54 $</p>
                  </span>
                  <p><span style="color: red;">*</span>Save 20% according to $ 35a Income Tax Act (EStG).</p>
                  
                </div>
                <p class="payment-footer"><span><img src="~/images/smiley.png"class="mr-2" alt="" srcset=""></span> a look at our included basic services</p>
              </div>
          </div> 

      
        </div>
      </section>
     
      <!-- ----------------------------welcome part End------------------------------------------- -->
      
      @section scripts
      {
      <script>
          $(document).ready(function() {
              console.log("JS running");
              $('.address-btn').click(function() {
               $('.address-form').show();
               $('.address-btn').hide();
               console.log("Ss");
              });

              $('.discard-btn').click(function() {
                console.log("Saaas");
               $('.address-form').hide();
               $('.address-btn').show();
               console.log("Saaas");
              });

              $("#btnServiceDetails").click(function(){
               console.log($("#pincode-text").val());  
                $("#pincodeAddress").val($("#pincode-text").val());
               //$("#pills-Details").load("BookServAddServiceRequestice/AddressView");
               document.getElementsByClassName("tab3")[0].click();
               getAddress();
              });

              $("#tab3-continue-btn").click(function(){
              
                addId = $("input[name=address]:checked").val();
                console.log(addId);
                if (!addId) {
                    console.log("select address");
                    $("#errSelectAddress").html("Please select address first");
                }
                else {
                    $("#AddressId").val(addId);
                    document.getElementsByClassName("tab4")[0].click();
                }
              
              });

              $("#final-bookbtn").click(function () {
                    console.log("tab 4 btn clicked");
                    $("#finalSubmitForm").submit();
              })
  
           
    jQueryAjaxPost = form => {
    //console.log("method call");
    try {
        $.ajax({
            type: 'POST',
            url: form.action,
            data: new FormData(form),
            contentType: false,
            processData: false,
            success: function (res) {
                               console.log(res);
                               if(res.pincodeError){
                                   $("#pincode-error").html("invalid pincode");
                               }
                               else if(res.pincodeEnter){
                                   $("#pincode-error").html("please enter pincode");
                               }
                               else if(res.pinAvailable){
                                   console.log("available");

                                   $("#pincode").val(res.zipcode);
                                   document.getElementsByClassName("tab2")[0].click();
                                     
                                   console.log("clicking");
                               }
                               else if(res.pinUnavailable){
                                   $("#pincode-error").html("we are not providing service in this area, we'll notify you when helper will be available");
                               }
                               else if(res.finalBooking){
                                   console.log("submitteddd");
                                   $("#booking-message").css("display", "block");
                                   $("#successPopuBtn").click();
                               }
                           
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    catch (e) {
        console.log(e);
    }

    return false;
    };



    $("#save-address").on("click", function () {
        console.log("useer id here ..."+$("#userIdAddresstTab").val());
        var check=false;
            if ($("#addAddressLine1").val() == "") {
                $("#errAddAddressLine1").text("Enter Street");
                check = true;
            }
            if ($("#addAddressLine2").val() == "") {
                $("#errAddAddressLine2").text("Enter House Number");
                check = true;
            }
            if ($("#pincodeAddress").val() == "") {
                $("#errpincode").text("Enter pincode");
                check = true;
            }
            if ($("#addCity").val() == "") {
                $("#errCity").text("enter City");
                check = true;
            }
            if ($("#addAddressPhoneNumber").val() == "") {
                $("#errAddAddressPhoneNumber").text("Enter Phone number");
                check = true;
            }
              if (check) {
                return;
            }
            var address = {};
            
            address.userId = parseInt($("#userIdAddresstTab").val());
            address.addressLine1 = $("#addAddressLine1").val();
            address.addressLine2 = $("#addAddressLine2").val();
            //address.cityId = parseInt($("#addAddressCity").val());
            address.city = $("#addCity").val();
            address.zipCode = $("#pincodeAddress").val();
            address.mobileNo = $("#addAddressPhoneNumber").val();
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddAddress","BookService")",
                    data:JSON.stringify(address),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response) {
                            console.log(response);
                            console.log("getaddress inner");
                             $('.address-form').hide();
                             $('.address-btn').show();
                             getAddress();
                             console.log("getaddress executed");
                        }
                    
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                    }
                });
        });
        

        });



         function getAddress() {
              $.ajax({
                  type: "POST",
                  url: "@Url.Action("GetAddress", "BookService")",
                  data: { "userID": $("#userId").val() },
                  success: function (response) {
                      var obj = JSON.parse(response);
                      $("#showAddress").empty();
                      for (var i = 0; i < obj.length; i++) {
                          $("#showAddress").append(' <div class="border mt-3 address"> <input type="radio" class="rbAddress" name="address" value="' + obj[i].AddressId + '"  > <div class="d-inline-block margin-left-10">  <b> Address:</b> ' + obj[i].AddressLine1 + ' , ' + obj[i].AddressLine2 + ' , ' + obj[i].ZipCode + ' <br> <b> Phone number:</b> ' + obj[i].MobileNo+' </div> </div>');
                         
                      }
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("Something went Worng");
                    }
              });
        }


        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        $("#Date").attr('min', today);
        document.getElementById("Date").valueAsDate = new Date();

        function setSchedule(){
                let date = new Date($("#Date").val());
                var dd = String(date.getDate()).padStart(2, '0');
                var mm = String(date.getMonth() + 1).padStart(2, '0');
                var yyyy = date.getFullYear();
                date = dd + '/' + mm + '/' + yyyy;
                let time = $("#Time").val();
                $("#scheduleDateTime").html(date + " " + time);
            }


           var extraCharge = 0.00;
           var extraTime = 0;
           var extraService = [];
           var extraAdd = 0;
           for (let i = 0; i < 5; i++) {
                extraService[i] = 0;
           }


        function changeCost(){
             var basicHours = Math.abs($("#ServiceHours").val());
             console.log(basicHours);
             $("#basic-hours").html(basicHours + " Hrs");
             basicCost = $("#ServiceHours").val() * 18.00;
             $(".total-amount").html(basicCost + extraCharge + " $");
             $("#total-time").html(basicHours + extraTime + " Hrs");
        }



        add_extra_service = ele => {
            console.log(ele);    
            $(ele).toggleClass("selected");
            let id = $(ele).attr("data-val");
            console.log("es id is : "+id);
            AddExtraService(ele);
        }

        function AddExtraService(obj) {
                let id = $(obj).attr("data-val");
                console.log("id num ser:"+id);
                if (extraService[id] == 0) {
                    extraAdd++;
                    if (extraAdd == 1) {
                        $("#extra").css("display", "block");
                    }
                    extraService[id] = 1;
                    extraCharge = extraCharge + 9.00;
                    extraTime = extraTime + 0.5;
                    $("#es" + id).css("display", "block");
                }
                else {
                    extraAdd--;
                    if (extraAdd == 0) {
                        $("#extra").css("display", "none");
                    }
                    extraService[id] = 0;
                    extraCharge = extraCharge - 9.00;
                    extraTime = extraTime - 0.5;
                    $("#es" + id).css("display", "none");
                }
                changeCost();
            }

    </script>
    }
     