* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li,
a,
a:hover {
    color: inherit;
    text-decoration: none;
    list-style: none;

}




/* ===========================================common part==================================== */
/* ---------------------------------------------------------------------------------- */



.fixed-top {
    background: rgba(39, 39, 39, .7) !important;
}

.headerpart .logo {
    width: 73px;
    height: 54px;
    margin-top: -3px;
}

.main-menu {
    height: 64px;
}

.headerpart nav {
    padding: 6px 0 8px !important;
}

.headerpart .nav-link-1 {
    color: #FFFFFF;
    margin-top: 14px;
    margin-right: 34px;
}

.headerpart .nav-link-2 {
    color: #FFFFFF;
    margin-top: 14px;
    margin-right: 4px;
}


.headerpart .navbar-nav button {
    background: #29626D;
    border: 1px solid #ffffffb7;
    border-radius: 20px;
    color: #FFFFFF;
}




.nav-image1 {
    width: 27px;
    height: 32px;
    margin: 16px 0;
}

.nav-image2 {
    width: 36px;
    height: 36px;
    margin-top: 7px;
    margin-left: -5px;
}

.nav-image3 {
    width: 11px;
    height: 6px;
    margin-top: 14px;
    margin-left: 5px;
}

.dropdown-list li {
    color: #646464;
}

.list-item1 {
    margin-left: 23px;
}



.line1 {
    height: 48px;
    margin: 8px 16px 5px 30px;
    border-left: 1px solid #E1E1E1;
}

.line2 {
    height: 48px;
    margin: 8px 14px 4px 15px;
    border-left: 1px solid #E1E1E1;
}

.notification-number {
    background-color: red;
    color: #ffffff;
    font-size: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 105px;
}

.menu-toggler {
    background: none;
    width: 22px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 15px;
    outline: none;
    z-index: 19;
    display: none;
    margin-left: 20px;
}

.menu-toggler span {
    display: block;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    position: relative;
    transition: .3s linear;

}

.menu-toggler:focus {
    outline: none;
}

.menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 7px;
}

.menu-toggler.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 7px;
}

/* -------------------------------------------------------------------------------- */
.footernav {
    background: #111111;
}

.footernav .navbar {
    padding: 0 !important;
}

.footernav .container-fluid {
    min-height: 131px;
    padding: 0 123px 0 115px;
}

.footernav ul {
    max-width: 682px;
    min-height: 44px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 27px;
}

.footernav .nav-link {
    color: #F1F1F1;
    font-size: 13.99px;
    margin: 0 10px;
}

.footerlogo {
    width: 120px;
    height: 92px;
    margin-top: 20px;
    padding: 0;
}

.footnavimg {
    margin-top: 27px;
}

/* -------------------------------------------------------------------------------- */


.line {
    width: 100%;
    height: 1px;
    background: #424242 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------- */


.footer .container-fluid {
    background-color: #292929;
    min-height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer p {
    color: #9BA0A3;
    font-size: 14px;
    padding: 22px 0;
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {

    .notification-part {
        display: none;
    }

    .collapse-menu-item {
        display: none;
    }

    .headerpart .nav-link-1:hover,
    .headerpart .nav-link-2:hover {
        border: 1px solid #FFFFFF80;
        border-radius: 22px;
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 992px) {

    .notification-part {
        display: flex;
        position: relative;
    }

    .notification-number {
        display: none;
    }

    .notification-number-mobile {
        background-color: red;
        color: #ffffff;
        font-size: 13px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12px;
        right: 25px;
        z-index: -22;
    }
}

@media screen and (max-width: 992px) {

    .nav-image2,
    .nav-image3 {
        display: none;
    }

    .menu-toggler {
        display: block;
    }

    .menu-toggler.active span {
        background-color: black;

    }

    .main-menu {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
        overflow-y: scroll;
    }

    .main-menu .nav-link,
    .main-menu p {
        color: #646464 !important;
        display: block;
        font-size: 17px;
        margin-left: 20px;
        margin-top: 25px;
        transition: .5s ease-out;
        text-decoration: none;
        margin-top: 0;
        padding-top: 8px !important;
        width: 100%;
    }



    .mobile-icon a:hover {
        background-color: #e1e1e1;
        border-radius: 50% !important;
        /* width: 20px; */
        height: 30px;
    }



    .main-menu .nav-link:hover {
        background-color: #e1e1e1;
        color: #146371 !important;

    }

    .main-menu.active {
        right: 0;
    }


    .headernavbar .line1,
    .headernavbar .line2 {
        display: none;
    }

    .headernavbar .nav-image1 {
        display: none;
    }


}


@media only screen and (max-width: 659px) {

    .footernav .navbar {

        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .footernav ul {
        width: 100%;
        order: 3;
    }

    .footnavimg {
        order: 2;
    }

}

@media only screen and (max-width: 519px) {
    .footernav .navbar-brand {
        display: block;
        margin: 0 auto !important;
        margin-top: 20px;
    }

    .footnavimg {
        margin: 30px auto 20px;
        width: 100%;
    }

    .footernav .container-fluid {
        padding: 5%;
    }
}

@media only screen and (max-width: 1109px) and (min-width: 992px) {
    .footernav ul {
        display: block;
        margin: 0 auto;
    }
}

/* ===========================================common part==================================== */

/* ------------------------------------------------------------------------------ */
.book-service-part {
    margin-bottom: 100px;
}

.service-head-name {
    margin-top: 78px;
    padding-top: 50px;

}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.design img {
    margin: 0 10px;
}

.seprator-left,
.seprator-right {
    width: 62px;
    height: 1px;
    background-color: #858881;
}

/* ---------------------------------------------------------------------------------------- */

.book-service-main {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ---------------------------------------------------------------------------------------- */
.nav-pill-head {
    padding: 21px 10px;
    background-color: #F3F3F3;
    color: rgb(100, 100, 100);
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: #1D7A8C !important;
}

/* ---------------------------------------------------------------------------------------- */
.payment-part {
    box-shadow: 0px 8px 10px rgba(209, 207, 207, 0.548),
        -10px 8px 15px rgba(209, 207, 207, 0.548), 10px 8px 15px rgba(209, 207, 207, 0.548);
    height: 550px;
}

.payment-part hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-body {}

.payment-part .payment-title {
    color: #fff;
    background-color: #1D7A8C;
    padding: 21px 0px 24px 22px;
}

.body1 {
    color: #4F4F4F;
    padding-left: 22px;
    padding-right: 22px;
}

.body1 p {
    margin-bottom: 0;
    font-size: 18px;
}

.body1-total {
    font-weight: bold;
}

.body2 {
    color: #4F4F4F;
    padding: 10px 22px;
}

.body2 p {
    margin-bottom: 0;
}

.body3 {
    padding-left: 22px;
    padding-right: 22px;
    color: #4F4F4F;
}

.price {
    color: #1D7A8C;

}

.price-head {
    font-size: 20px;
    padding-top: 12px;
}

.price-rate {
    font-size: 42px;
    font-weight: bold;
}

.effective-price {
    font-size: 18px;
}

.payment-footer {
    background-color: #F3F3F3;
    margin-bottom: 0;
    padding: 15px;
}

/* ---------------------------------------------------------------------------------------- */
.check-btn {
    padding: 15px 25px;
    color: #fff;
    background-color: #1D7A8C;
    border-radius: 25px;
}

.pincode-check-head {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;
    color: rgb(79, 79, 79);
}

/* ------------------------------------------------------------------------------------------- */
.service-schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input1 {
    padding: 6px 0px 5px 5px;
    margin-right: 10px;
}

.form-input2 {
    padding: 9px 12px 9px 5px;
}

.kindofservice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.typeimg {
    width: 108px;
    height: 108px;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.typepara1 {
    color: #646464;
    font-size: 16px;
    line-height: 16px;
    word-wrap: break-word;
    width: 108px;
    padding-top: 10px;
    /* margin: 17px 0 6px; */
}

.advice-area {
    width: 100%;
    height: 100px;
}

.service-head {
    color: #646464;
}

.next-btn,
.save-btn,
.promo-btn {
    padding: 10px 25px;
    color: #fff;
    background-color: #1D7A8C;
    border-radius: 25px;
}

.next-btn {
    margin-bottom: 15px;
}

/* -------------------------------------------------------------------------------------- */
.address-form {
    display: none;
    background-color: #F3F3F3;
    border: 1px solid rgb(214, 213, 213);
    padding: 15px;
    border-radius: 5px;
}

.address-form label {
    margin-bottom: 4px;
}

.address-form .form-row {
    margin-bottom: 15px;
}

.address-btn,
.discard-btn {
    padding: 10px 25px;
    background-color: #fff;
    border-color: #1D7A8C;
    color: #1D7A8C;
    border-radius: 25px;
}

.address-btn:hover,
.discard-btn:hover {
    color: #fff;
    background-color: #1D7A8C;
}

/* -------------------------------------------------------------------- -------------*/
.form-check {
    margin-top: 25px;
    padding: 0;

}

.form-check .bill-checkbox {
    transform: scale(1.5);
    border-color: #bebebe !important;
    vertical-align: top;
    margin-top: 5px;
}

/* ----------------------------------------------------------------------------------- */
.payment-tab {
    color: #4F4F4F;
}

.payment-tab-label {
    word-wrap: break-word;
    max-width: 640px;

}