* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li,
a,
a:hover {
    color: inherit;
    text-decoration: none;
    list-style: none;

}


/* *********************************************************************************************** */


.header-navbar {
    background-color: #1fb6ff;
    color: #ffffff;
    /* height: 60px; */
    /* padding: 0; */
}

.nav-title {
    color: #ffffff;
    font-size: 38px;
    line-height: 0;
}

.nav-user {
    padding-top: 5px;
    margin-right: 18px;
}



/* *********************************************************************************************** */

.home-section {
    display: flex;
    padding: 0;
}

/* *********************************************************************************************** */

.left-section {
    min-width: 273px;
    color: #646464;
}

.left-section .nav-item {
    border-bottom: 1px solid #e5e5e5;
}

.left-section .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    margin: 17px 0;
}

.user-active {
    color: #1fb6ff;
}

.left-section .nav-link:hover {
    color: #1fb6ff;
}

.collapsable a img {
    transform: rotate(270deg);
    transition-duration: 0.3s;
    float: right;
    padding-top: 15px;
}



/* *********************************************************************************************** */

.right-section {
    background-color: #f2f4f5;
    width: 100%;
    height: 100%;
    padding: 0 20px;

}

.table-name {
    margin-top: 24px;
}

.table-name-info {
    color: #646464;
    font-size: 22px;
    font-weight: bold;
}

.user-btn {
    max-width: 132px;
    height: 36px;
    font-size: 14px;
    color: #FFFFFF !important;
    background-color: #1fb6ff;
}

/* *********************************************************************************************** */
.formpart {
    background-color: #ffffff;
    padding: 20px 15px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
}

.phone-code {
    background-color: #dedddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    border: solid 1px #dedddd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

}

.contact-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-control:focus {
    border-color: #1fb6ff;
    box-shadow: none;
    border-width: 2px;
}

.formpart .searchbtn {
    background-color: #1fb6ff;
    color: #ffffff;
    width: 84px;

}

.formpart .clearbtn {
    background-color: #ffffff;
    color: #646464;
    border: 1px solid #dedddd;
    width: 84px;

}

.formpart .zipcode {
    width: 140px;

}

.formpart .clear {
    width: 84px;
}

.user-btn:hover,
.formpart .searchbtn:hover {
    background-color: rgb(19, 76, 161);
}

.formpart .clearbtn:hover {
    border-color: #1FB6FF;
    color: #1fb6ff;
}

.user-role-select,
.user-name-select {
    color: #646464;
    width: 205px;
}

/* *********************************************************************************************** */
.table {
    margin-bottom: 0;
}

.table-part {
    margin-top: 20px;
    background-color: #ffffff;
}

tr {
    background-color: #ffffff;
    border: #e1e1e1 1px solid;

}

td {
    color: #646464;
    vertical-align: middle !important;
}

.table-part th {
    color: #646464;
    font-weight: bold;
    background-color: #F9F9F9;
}

.table thead th {
    vertical-align: text-top;
}

.active-status {
    background-color: #67b644;
    padding: 5px 11px;
    color: #FFFFFF;
}

.inactive-status {
    background-color: #ff6b6b;
    padding: 5px 11px;
    color: #FFFFFF;
}

.action-dropdown {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.action-dropdown:focus,
.action-dropdown:hover {
    background-color: #F4F4F4;
}

/* *********************************************************************************************** */
.page-hadling {
    display: flex;
    border: #e1e1e1 1px solid;
    padding: 15px 15px 0 15px;
}

.entry-selction {
    width: 58px;
    height: 40px;
    color: #646464;
}

.pagination li {
    width: 38px;
    height: 38px;
    /* border-radius: 50%; */
    border: solid 1px #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 3px; */
}

.pagination .rotate-img {
    transform: rotate(180deg);
}

.active-page {
    background-color: #565656;
    color: #ffffff;
}

.pagination-spacing {
    margin-right: 10px;
}

.pagination-para {
    padding-top: 5px;
}

/* *********************************************************************************************** */
.footer p {
    color: #A2A6A8;
    padding: 22px 0;
    margin-bottom: 0;
}

/* *********************************************************************************************** */
/* *********************************************************************************************** */