* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
.pricing .card {
    max-width: 553px;
    min-height: 304px !important;
    margin: 42px auto 0;
    position: relative;
    padding: 0 0 132px !important;
}

.pricing .card-header {
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1D7A8C;
}

.pricing .card-body {
    padding: 30px 0;
}

.pricing .card-text {
    font-size: 30px;
    color: #646464;
}

.pricing .cardpara {
    color: #646464;
    position: absolute;
    left: 27%;
}

    .pricing .cardpara p {
        line-height: 24px;
        margin-bottom: 19px;
    }

/* -------------------------------------------------------------------------------- */

.serviceline {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    margin: 51px 0 47px;
}


/* -------------------------------------------------------------------------------- */

.kindofservice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 39px 0 61px;
}

.typeimg {
    width: 108px;
    height: 108px;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typepara1 {
    color: #646464;
    font-size: 16px;
    line-height: 16px;
    margin: 17px 0 6px;
}

.typepara2 {
    color: #1D7A8C;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}


/* -------------------------------------------------------------------------------- */
.include-cleaning {
    background-color: #f6f6f6;
    width: 100%;
    padding: 80px 0;
}

.include-section {
    margin-top: 43px;
}

    .include-section .section {
        margin: 0 auto;
    }

    .include-section .section-img {
        max-width: 100%;
        width: 100%;
    }

.include-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
    margin: 24px 0 18px;
}

.include-content p img {
    padding-right: 9px;
}

/* -------------------------------------------------------------------------------- */

.whypart {
    padding: 78px 0;
}

.whyhelp {
    padding-top: 43px;
}

.whypart h3 {
    color: #646464;
    font-size: 20px;
    font-weight: bold;
}

.whypart p {
    color: #646464;
    font-size: 14px;
}

.whypart img {
    display: block;
    margin: 0 auto;
}


/* -------------------------------------------------------------------------------- */

.formpart .leftimg {
    transform: rotate(180deg);
}

.formleftimg {
    background-color: #4F4F4F;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}




/* ---------------------------------------------------------------------------------------------- */


@media (max-width: 992px) and (min-width:533px) {
    .service .types {
        width: 33%;
        margin-bottom: 30px;
    }

    .service .typeimg {
        margin: 0 auto !important;
    }
}

@media (max-width: 533px) and (min-width:337px) {
    .service .types {
        width: 50%;
        margin-bottom: 30px;
    }

    .service .typeimg {
        margin: 0 auto !important;
    }
}

@media (max-width: 338px) {
    .service .types {
        width: 100%;
        margin-bottom: 30px;
    }

    .service .typeimg {
        margin: 0 auto !important;
    }
}


@media only screen and (max-width: 768px) {
    .formpart img {
        display: block;
        margin: 30px auto !important;
    }

    .formleftimg {
        margin: 30px auto !important;
    }
}


/* --------------------------------hover effect start-------------------------------------------------- */


.bookingbtn:hover,
.loginbtn:hover,
.helpbtn:hover {
    background-color: #fff !important;
    color: #29626D !important;
}


.headerpart .nav-link:hover {
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    padding: 6px 14px 9px !important;
}

/* --------------------------------hover effect end-------------------------------------------------- */


/* ==========================================common css========================================= */


.headerpart .logo {
    width: 73px;
    height: 54px;
    margin-top: -3px;
}

.fixed-top {
    background: rgba(39, 39, 39, .7) !important;
}

.headerpart {
    background-color: #4F4F4F;
}

    .headerpart nav {
        padding: 6px 0 8px;
    }

    .headerpart .nav-link {
        color: #FFFFFF !important;
    }

    .headerpart .navbar-nav button {
        background: #29626D;
        border: 1px solid #FFFFFF80;
        border-radius: 20px;
        color: #FFFFFF;
    }

.bookingbtn {
    max-width: 111px;
    height: 40px;
    font-size: 17px;
    padding: 6px 18px 11px !important;
}

.pricebtn {
    max-width: 161px;
    height: 40px;
    font-size: 17px;
    padding: 6px 14px 11px !important;
    background: transparent !important;
    color: #fff;
}

.loginbtn {
    max-width: 97px;
    height: 40px;
    font-size: 16px;
    padding: 6px 29px 12px !important;
    margin-right: 11px;
}

.helpbtn {
    max-width: 161px;
    height: 40px;
    font-size: 16px;
    padding: 6px 18px 12px 19px !important;
    margin-right: 22px;
}

/* -------------------------------------------------------------------------------- */
.commonheroimg img {
    width: 100%;
    margin-bottom: 39px;
    margin-top: 64px;
}

/* -------------------------------------------------------------------------------- */


.commonhead {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    color: #4f4f4f;
}



.design {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

    .design img {
        margin: 0 10px;
    }

.seprator-left,
.seprator-right {
    width: 62px;
    height: 1px;
    background-color: #858881;
}

/* --------------------------------------------------------------------------------------- */

.formpart .container-fluid {
    padding-left: 70px;
    padding-right: 70px;
}

.formpart {
    padding-bottom: 53px;
}

    .formpart h2 {
        font-size: 18px;
        color: #353548;
        font-weight: bold;
    }

    .formpart .emailbox {
        width: 233px;
        height: 40px;
        background: #F4F5F8 0% 0% no-repeat padding-box;
        border: 1px solid #565656;
        border-radius: 20px;
        font-size: 14px;
    }

    .formpart .btn {
        width: 88px;
        height: 40px;
        background: #FF7B6D 0% 0% no-repeat padding-box;
        border: 1px solid #FF7B6D;
        border-radius: 20px;
    }


/* -------------------------------------------------------------------------------- */
.footernav {
    background: #111111;
}

    .footernav .navbar {
        padding: 0 !important;
    }

    .footernav .container-fluid {
        min-height: 131px;
        padding: 0 123px 0 115px;
    }

    .footernav ul {
        max-width: 682px;
        min-height: 44px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 27px;
    }

    .footernav .nav-link {
        color: #F1F1F1;
        font-size: 13.99px;
        margin: 0 10px;
    }

.footerlogo {
    width: 120px;
    height: 92px;
    margin-top: 20px;
    padding: 0;
}

.footnavimg {
    margin-top: 27px;
}

/* -------------------------------------------------------------------------------- */

.line {
    width: 100%;
    height: 1px;
    background: #424242 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------- */


.footer .container-fluid {
    background-color: #292929;
    min-height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer p {
    color: #9BA0A3;
    font-size: 14px;
    padding: 22px 0;
    margin-bottom: 0;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {

    .headernavbar {
        text-align: center;
        background-color: #525252;
        padding: 50px 0;
        position: relative;
        z-index: 1;
    }


    .bookingbtn,
    .pricebtn,
    .helpbtn,
    .loginbtn {
        display: block;
        margin: 10px auto !important;
    }

    .loginbtn,
    .helpbtn {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 659px) {

    .footernav .navbar {
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .footernav ul {
        width: 100%;
        order: 3;
    }

    .footnavimg {
        order: 2;
    }
}

@media only screen and (max-width: 519px) {
    .footernav .navbar-brand {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .footnavimg {
        margin: 30px auto 20px;
        width: 100%;
    }

    .footernav .container-fluid {
        padding: 5%;
    }
}

@media only screen and (max-width: 1109px) and (min-width: 992px) {
    .footernav ul {
        display: block;
        margin: 0 auto;
    }
}



/* ==========================================common css========================================= */
