
@{
    Layout = null;
}

<style>
    
    .blockbox{
        border:1px solid #e1e1e1;
        padding:30px 80px;
        margin-right:50px;
        border-radius:10px;
        margin-bottom:10px;
    }
</style>

<div class="right-blockpart d-flex flex-wrap justify-content-around " style="color:#4f4f4f">
    <div class="blockbox">
        <img class="d-flex justify-content-center pb-3" src="~/images/avatar-hat.png" style="margin:0 auto">
        <p class="font-weight-bold" style="font-size:20px">Bhavin Prajapati</p>
        <button class="rate-sp-button d-flex justify-content-center px-4" type="button" style="cursor:pointer; margin:0 auto;">Block</button>
    </div>

    
</div>
   

