
@{
    Layout = null;
}
@model Helperland_integration.Models.ServiceRequest


      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">Cancel Service Request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form asp-controller="CustomerDashboard" asp-action="cancelService">
                  <input type="hidden" asp-for="ServiceRequestId"/>
                <label>Why do you want to cancel the service request</label>
                <textarea rows="4" cols="57" asp-for="Comments"></textarea>
                <button class="btn cancelBtnModal mt-3" type="submit" style="width: 100%;">Cancel now</button>
              </form>
            </div>
         
          </div>
        </div>