
@{
    Layout = null;
}
@model Helperland_integration.ViewModel.BookServiceViewModel

         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="">Reschedule Service Request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form asp-action = "rescheduleService" asp-controller = "CustomerDashboard" >
                <p>Select New Date & Time</p>
                <div class="form-row">
                    <input type="hidden" asp-for="serviceId" />
                  <input class="form-control col-6" id="reDate" type="date" asp-for="Date" >
                  <select class="form-control col-5 offset-1" id="reTime" asp-for="Time" >
                    <option value="8:00" >8:00</option>
                    <option value="8:30">8:30</option>
                    <option value="9:00">9:00</option>
                    <option value="9:30">9:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    </select>
                </div>
                <button type="submit" class="btn updateBtnModal col-12 mt-3">Update</button>
              </form>
            </div>
          </div>
        </div>
      

        
              <script>
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();
                today = yyyy + '-' + mm + '-' + dd;
                console.log(today);
                $("#reDate").attr('min', today);
                var bookDate = document.getElementById("reDate").getAttribute("value");
                console.log(typeof bookDate);
                document.getElementById("reDate").value = bookDate ;
                //document.getElementById("reDate").valueAsDate = new Date(bookDate) ;

                
            </script>
           
        