
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
@{
    ViewBag.Title = "About Us";
}
<link rel="stylesheet" href="~/css/about.css">

<!-- ---------------------------------commonheroimg start------------------------------------------- -->
<section class="commonheroimg">
  <img src="~/images/hero-banner-img.png" alt="">
</section>
<!-- ---------------------------------commonheroimg end------------------------------------------- -->





<!-- ---------------------------------contact start------------------------------------------- -->

<section class="contact-detail">
    <div class="container">
       <div class="aboutpart1 text-center">
            <h2 class="commonhead text-center" >A Few words about us</h2>
            <div class="design text-center">
            <div class="seprator-left "></div>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <div class="seprator-right"></div>
            </div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</p>

              <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem. </p>
        </div> 
       <div class="aboutpart2 text-center">
            <h2 class="commonhead text-center" >Our Story</h2>
            <div class="design text-center">
            <div class="seprator-left "></div>
            <img src="~/images/forma-1-copy-5.png" alt="">
            <div class="seprator-right"></div>
            </div>
            <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.</p>

              <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit.</p> 
                
               <p>Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem. </p>
        </div> 
    </div>
</section>

<!-- ---------------------------------contact end------------------------------------------- -->
