

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Homepage";
}

            <div class="herotext">
                
                <h1>Lorem ipsum text</h1>                
                <p><img class="mr-1" src="~/images/ic-check.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p><img class="mr-1" src="~/images/ic-check.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <p><img class="mr-1" src="~/images/ic-check.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="herobtn">
                <button class="btn">Let’s Book a Cleaner</button>
            </div>

            <div class="steps">
                <div class="container">
                    <div class="stepflex text-center">
                        <div class="steppart  ">
                            <img  src="~/images/step-1.png" alt="">
                            <p>Enter your postcode</p>
                        </div>
                        <div class="arrowpart   ">
                            <img src="~/step-arrow-1.png" alt="">
                        </div>
                        <div class="steppart  ">
                            <img  src="~/images/step-2.png" alt="">
                            <p>Select your plan</p>
                        </div>
                        <div class="arrowpart  ">
                            <img src="~/images/step-arrow-1-copy.png" alt="">
                        </div>
                        <div class="steppart  ">
                            <img  src="~/images/step-3.png" alt="">
                            <p>Pay securely online</p>
                        </div>
                        <div class="arrowpart  ">
                            <img src="~/images/step-arrow-1.png" alt="">
                        </div>
                        <div class="steppart  ">
                            <img  src="~/images/step-4.png" alt="">
                            <p class="specialpara">Enjoy amazing service</p>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="downarrow text-center">
                <img src="~/images/group-18_5.png" alt="">
            </div>
        
    </div>
    
    <!-- ---------------------------------Homepage End------------------------------------------- -->
    
    
    
    <!-- ---------------------------------help start------------------------------------------- -->
    <section class="helppart">
        <div class="container">
            <h3 class="helphead">Why Helperland</h3>
            <div class="row text-center">
                <div class="col-lg-4 col-md-12 col-sm-12 help">
                    <img src="~/images/professionals.png" alt="">
                    <h3>Experience & Vetted Professionals</h3>
                    <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 help">
                    <img class="helptwoimg" src="~/images/group-23.png" alt="">
                    <h3 class="paymenthead">Secure Online Payment</h3>
                    <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 help">
                    <img class="helptwoimg" src="~/images/group-24.png" alt="">
                    <h3 class="servicehead">Dedicated Customer Service</h3>
                    <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------------------------------help End------------------------------------------- -->
    
    <!-- ---------------------------------blog start------------------------------------------- -->
    
    <section class="blogpart">
        <img class="blogbg1" src="~/images/blog-left-bg.png" alt="">
        <img class="blogbg2" src="~/images/blog-right-bg.png" alt="">
        <div class="container">
            <div class="row">
                <div class="blogupper col-xl-8 col-lg-8 col-md-8 col-sm-8 px-0">
                    <h2 class="bloghead1">Lorem ipsum dolor sit amet, consectetur</h2>
                    <div class="blogpara1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                    <p> Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                    <p> Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 px-0 text-center ">
                    <img class="img-fluid" src="~/images/group-36.png" alt="">
                </div>
            </div>

            <div class="bloghead2 text-center">
                <h2>Our Blog</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
                    <div class="card" >
                        <img class="card-img-top" src="~/images/group-28.png" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title ">Lorem ipsum dolor sit amet<span><wbr><p class="carddate" >January 28, 2019</p></span></h3>
                          
                          <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="blogread">Read the Post<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
                    <div class="card" >
                        <img class="card-img-top" src="~/images/group-29.png" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Lorem ipsum dolor sit amet<span><wbr><p class="carddate" >January 28, 2019</p></span></h3>
                          
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="blogread">Read the Post<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
                    <div class="card" >
                        <img class="card-img-top" src="~/images/group-30.png" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Lorem ipsum dolor sit amet<span><wbr><p class="carddate" >January 28, 2019</p></span></h3>
                          
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                            <p class="blogread">Read the Post<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
            </div>

        </div>
    </section>
    
    <!-- ---------------------------------blog End------------------------------------------- -->
    
    
    <!-- ---------------------------------customer start------------------------------------------- -->
    
    <section class="customerpart">
        <div class="container">
            <h2 class="customerhead">What Our Customers Say</h2>

            <div class="row cardsection">
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
                    <div class="card" >  
                        <div class="card-body">
                            <img class="float-right" src="~/images/message.png" alt="">
                            <div class="d-flex cuscardhead">
                                <img class="cardtopimg" src="~/images/group-31.png" alt="Card image cap">
                                <div class="ml-3 customcardimgdetail">
                                    <h3>Lary Watson</h3>
                                    <p class="customerimgpara">Manchester</p>
                                </div>
                            </div>
                            
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                            <p> Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            
                            <p class="blogread">Read More<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5 ">
                    <div class="card " >  
                        <div class="card-body">
                            <img class="float-right" src="~/images/message.png" alt="">
                            <div class="d-flex cuscardhead">
                                <img class="cardtopimg" src="~/images/group-32.png" alt="Card image cap">
                                <div class="ml-3 customcardimgdetail">
                                    <h3>John Smith</h3>
                                    <p class="customerimgpara">Manchester</p>
                                </div>
                            </div>
                            
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                            <p> Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            
                            <p class="blogread">Read More<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 mb-5">
                    <div class="card" >  
                        <div class="card-body">
                            <img class="float-right" src="~/images/message.png" alt="">
                            <div class="d-flex cuscardhead">
                                <img class="cardtopimg" src="~/images/group-33.png" alt="Card image cap">
                                <div class="ml-3 customcardimgdetail">
                                    <h3>Lars Johnson</h3>
                                    <p class="customerimgpara">Manchester</p>
                                </div>
                            </div>
                            
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                            <p> Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            
                            <p class="blogread">Read More<img class="ml-2" src="~/images/shape-2-copy-3.png" alt=""></p> 
                            
                        </div>
                      </div>
                </div>
                
                
            </div>
        </div>
   
    </section>

    <!-- ---------------------------------customer End------------------------------------------- -->
    
    
