@model Helperland_integration.ViewModel.ResetPasswordModel

@{
    Layout = null;
}
@{
    ViewBag.Title = "Reset Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    
    <title>@ViewBag.Title</title>
</head>

<style>
    .reset-password-part{
        margin :0 auto;
        padding-top:30px;
     }
     .reset-head{
         font-size:25px;
         padding-bottom:20px;
         color:#4f4f4f  ;
     }
     .reset-input{
         margin :0 auto;
         max-width:500px;
         margin-bottom:15px;
     }
     .submit-btn{
        display: block;
        margin:15px auto 0;
        background: #29626D;
        border: 1px solid #FFFFFF80;
        border-radius: 30px;
        color: #FFFFFF;
        max-width: 500px;
        padding: 12px 30px;
     }
</style>

<body>
    <section class="container reset-password-part"  >

        <h2 class="reset-head text-center" >Reset Password</h2>
        
        @if (ViewBag.isSuccessReset==true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Password Reset Successfully.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>   
        }
        <div class="register-form" >
            <form method="post" asp-action="resetPassword" asp-controller="Home" >
                    <input type="hidden" name="UserId" value="@ViewBag.id">
                    
                    <div class="reset-input">   
                    
                      <input asp-for="Password" class="form-control" placeholder="Password">
                      <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="reset-input">
                      <input asp-for="ConfirmPassword" class="form-control" placeholder="Repeat Password">
                      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
              
              
                  <button type="submit" class="submit-btn btn btn-primary ">Submit</button>
              
              </form>
        </div>
    
</section>

</body>
</html>
